
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">

                    Listagen de Membros

                    <form class="form-inline pull-right" name="form" role="form" method="POST" ng-submit="save()">

                        <div class="form-group" ng-class="{'has-error':!form.name.$valid && form.name.$touched}">
                            <label class="col-md-4 control-label">Name</label>
                            <div class="col-md-6">
                                <input type="text" name="client_id" class="form-control"
                                       ng-model="clientUser",
                                       typeahead="o as o.name for o in getUser($viewValue)|limitTo:10"
                                       typeahead-on-select="selectUser($item)"
                                       typeahead-editable="false"
                                       required
                                />

                            </div>
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-sm btn-success"> salvar</button>
                        </div>
                    </form>



                </div>
                <div class="panel-body">

                    <table class="table table-condensed">
                        <thead>
                        <tr>
                            <th> name </th>

                        </tr>
                        </thead>

                        <tbody>
                        <tr ng-repeat="o in projectMembers">
                            <td> {{o.users.data.name}} </td>


                            <td>

                                <a ng-href="#/project/{{o.project_id}}/member/{{o.id}}/remove">Excluir </a>
                            </td>
                        </tr>
                        </tbody>

                    </table>



                </div>
            </div>
        </div>
    </div>
</div>

